@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #C6FF00;
  --color-dark: #0D0D0D;
  
  --font-sans: "Inter", sans-serif;
  --font-display: "Inter", sans-serif;
}

@layer utilities {
  .text-primary { color: var(--color-primary); }
  .bg-primary { background-color: var(--color-primary); }
  .border-primary { border-color: var(--color-primary); }
  
  .font-display { font-family: var(--font-display); }
  .font-sans { font-family: var(--font-sans); }
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    font-family: var(--font-sans);
    background-color: var(--color-dark);
    color: #ffffff;
  }
}
